/* Colors*/
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desat-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  min-width: 257px;
  min-height: 375px;
}

body {
  height: 100%;
  background-color: var(--light-grayish-blue);
  font-family: 'Manrope', sans-serif;
  font-size: .8125rem;
  color: var(--very-dark-grayish-blue);
}

main {
  background-color: white;
  height: 77%;
  width: 87%;
  margin: 4.625rem auto;
  border-radius: 10px;
  font-size: 0.822rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
}

article {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  height: 40%;
}

h1 {
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: 700;
  letter-spacing: 0.009rem;
}

p {
  line-height: 1.5;
}

.article-img {
  object-fit: cover;
  object-position: left;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.article-footer {
  height: 13%;
}

.author-info {
  width: 53%;
  min-width: 10.68rem;
}

.name-data {
  padding-left: 1rem;
  
}

.author-name {
  font-weight: 700;
}

.article-data {
  font-weight: 300;
  letter-spacing: 0.018rem;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.share-menu {
  background-color: var(--very-dark-grayish-blue);
  color: var(--light-grayish-blue);
  height: 13%;
  width: 100%;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
}

.share-menu-links {
  width: 53%;
}

.share-menu-links img {
  padding: 4px;
}

.share-menu-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.76rem;
  letter-spacing: 0.375rem;
}

.share-button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
}

.nonvisible {
  visibility: hidden;
}

.flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer {
  position: fixed;
  bottom: .1875rem;
  right: .3125rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
